@model restaurant_system.Models.LoginViewModel
@{
    ViewData["Title"] = "Авторизация";

}
<h2>Авторизация</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="form-label" asp-for="Email"></label><br />
        <input class="form-control" style="max-width: 250px" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="form-label" asp-for="Password"></label><br />
        <input class="form-control" style="max-width: 250px" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br>
    <div>
        <label class="form-label" asp-for="RememberMe"></label><br />
        <input class="form-check-label" asp-for="RememberMe" />
    </div>
    <br>
    <div>
        <input class="btn btn-outline-primary" type="submit" value="Войти" />
    </div>
</form>