<div class="modal fade" id="confirm-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{
                await Html.RenderPartialAsync("ReservationsFieldsPartical", new { Prefix = "edit", Tables = ViewData.Eval("Tables") });
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <input type="submit" onclick="edit()" id="modal-delete-button" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

<script>
    var EditId;

    function SetEditId(id) {
                EditId = id;
        $("#edit-input-name").val($("#row-" + id).children('td').eq(1).html());
        $("#edit-input-tables").val($("#row-" + id).children('td').eq(2).html());
        $("#edit-input-start").val(DateToString($("#row-" + id).children('td').eq(4).html()));
        $("#edit-input-end").val(DateToString($("#row-" + id).children('td').eq(5).html()));

    }

    function edit() {
        $.ajax({
            type: "POST",
            url: "EditReservation",
            data: {
                id: EditId,
                name: $("#edit-input-name").val(),
                tableId:  $("#edit-input-tables").val(),
                start:  $("#edit-input-start").val(),
                end:  $("#edit-input-end").val()
            },
            success: function (data) {
                document.location.reload();
            },
            error: function(data){
                ShowMessege("@ErrorMesseges.ErrorTitle",data.responseText);
            }
        })
    }

    function DateToString(value){
        var d = new Date(Date.parse(value))
        return d.toJSON().slice(0,19)
    }

</script>
