@{
    ViewData["Title"] = "Добро пожаловать";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <h2>@User.Identity.Name</h2>
        <br>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input class="btn btn-outline-primary" type="submit" value="Выход" />
        </form>
    }
    else
    {
        <a asp-controller="Account" class="btn btn-outline-primary" asp-action="Login">Вход</a>
        <a asp-controller="Account" class="btn btn-outline-primary" asp-action="Register">Регистрация</a>
    }

</div>


