<div class="modal fade" id="confirm-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{
                await Html.RenderPartialAsync("DishesFieldsPartical", new { Prefix = "edit" });
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <input type="submit" onclick="edit()" data-dismiss="modal" id="modal-delete-button" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

<script>
    var EditId;

    function SetEditId(id) {
        EditId = id;
        var archivedValue = $("#row-" + id).children('td').eq(4).html() == "True" ? 1 : 2
        $("#edit-input-name").val($("#row-" + id).children('td').eq(1).html());
        $("#edit-input-description").val($("#row-" + id).children('td').eq(2).html());
        $("#edit-input-price").val($("#row-" + id).children('td').eq(3).html().replace(",", '.'));
        $("#edit-input-archived").val(archivedValue);
    }

    function edit() {
        $.ajax({
            type: "POST",
            url: "EditDish",
            data: {
                id: EditId,
                name: $("#edit-input-name").val(),
                description: $("#edit-input-description").val(),
                price: $("#edit-input-price").val(),
                archived: $("#edit-input-archived").val() == 1 ? "True" : "False"
            },
            success: function (data) {
                document.location.reload();
            },
            error: function(data){
                ShowMessege("@ErrorMesseges.ErrorTitle",JSON.parse(data.responseText).Message);
            }
        })
    }

</script>
