<div class="modal fade" id="confirm-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @{
                await Html.RenderPartialAsync("DishesFieldsPartical", new { Prefix = "add" });
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <input type="submit" onclick="add()" data-dismiss="modal" id="modal-delete-button" value="Создать" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

<script>

    function add() {
        $.ajax({
            type: "POST",
            url: "AddDish",
            data: {
                name: $("#add-input-name").val(),
                description: $("#add-input-description").val(),
                price: $("#add-input-price").val()
            },
            success: function (data) {
                document.location.reload();
            },
            error: function(data){
                ShowMessege("@ErrorMesseges.ErrorTitle",JSON.parse(data.responseText).Message);
            }
        })
    }

</script>
