@{
    ViewData["Title"] = "Статистика";
}
<br>
<div class="d-flex justify-content-between">

    @{
        await Html.RenderPartialAsync("StatisticsSearchPartial", new
        {
            StartDate = ((DateTime)Model.StartDateTime).ToString("yyyy-MM-ddTHH:mm"),
            EndDate = ((DateTime)Model.EndDateTime).ToString("yyyy-MM-ddTHH:mm")
        });
    }


</div>
<center>
    <br>
    <h3>Количество заказов: @Model.OrdersCount</h3>
    <br>
    <h3>Средний чек: @Model.AverageСheck</h3>
    <br>
    <h3>Количество событий: @Model.EventCount</h3>
</center>

@{
    await Html.RenderPartialAsync("MessegePartial");
}


