<div class="modal-body">
    <div class="mb-3">
        <label for="formFile" class="form-label">FirstName</label>
        <input id="@ViewData.Eval("Prefix")-input-firstname" class="form-control" type="text" placeholder="" aria-label="">
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">LastName</label>
        <input id="@ViewData.Eval("Prefix")-input-lastname" class="form-control" type="text" placeholder="" aria-label="">
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Phone</label>
        <input id="@ViewData.Eval("Prefix")-input-phone" class="form-control" type="text" placeholder="" aria-label="">
    </div>
</div>